<section class="block" id="acercami">
    <div class="container block__content">
         <h2>Acerca de mi</h2>
         <p>Hola!<br>
             Me llamo Ronny y soy un desarrollador de software. <br>Soy una persona con una pasión por el desarrollo móvil y web, una gran motivación por el aprendizaje de nuevas tecnologías y  con facilidad de adaptación dentro de cualquier entorno de trabajo.
         </p>
         <p>Me fascina todo lo referente a las tecnologías de la información, sin embargo, me he enfocado en:</p>
     </div>
     <div class="container grid grid--1x3">
         <div class="container">
             <svg class="icon icon--giant">
                 <use xlink:href="images/sprite-icons.svg#web-icon-2"></use>
               </svg>
               <h4>Desarrollo Web</h4>
         </div>
         
         <div class="container">
             <svg class="icon icon--giant">
                 <use xlink:href="images/sprite-icons.svg#mobile-icon-2"></use>
               </svg>
               <h4>Desarrollo Móvil</h4>
         </div>
         
         <div class="container">
             <svg class="icon icon--giant">
                 <use xlink:href="images/sprite-icons.svg#cyber-attack-icon"></use>
               </svg>
               <h4>Seguridad Informática</h4>
         </div>   
     </div>
</section>