<section class="block container">
    <h1 class="block__heading">Hola</h1>
    <p>Lorem ipsum dolor sit amet.</p>
</section>
<!--If we apply the container class to a block, we are limiting the maximum width of out container. It will look bad in wider screens.-->
<section class="block block--primary block--end-arrow">
<!--To prevent the content from getting wider, we just have to encapsulate our content inside a container-->
    <div class="container">
    <h1 class="block__heading">Hola</h1>
    <p>Lorem ipsum dolor sit amet.</p>
    </div>
</section>
<!--For skills-->
<section class="container block block--primary block--bordered">
    <h1 class="block__heading">Hola</h1>
    <p>Lorem ipsum dolor sit amet.</p>
</section>