<button class="btn btn--primary"><svg class="icon icon--white">
    <use xlink:href="images/sprite-icons.svg#video-icon"></use>
  </svg>Video</button>

  <a href="#" class="btn btn--primary" >
          <svg class="icon icon--white"><use xlink:href="images/sprite-icons.svg#github-icon"></use></svg>Código
  </a>

      <a href="#" >
        <svg class="icon icon--primary"><use xlink:href="images/sprite-icons.svg#github-icon"></use></svg>
    </a>

  <button class="btn btn--primary"><svg class="icon icon--white">
    <use xlink:href="images/sprite-icons.svg#github-icon"></use>
  </svg>Código</button>

  <a href="#" class="btn btn--primary" >Código</a>
  <button class="btn btn--primary">Código</button>