<section class="contact block">
    <div class="container block__content">
        <h2>Contacto</h2>
        <div class="grid__spread-items">
            <a href="https://www.linkedin.com/in/ronny-jaramillo-5192581b9/" target="_blank" >
            <svg class="icon icon--primary icon--big"><use xlink:href="images/sprite-icons.svg#linked-in-icon"></use></svg>
            </a>
            <a href="mailto:ronny.jaramillo935@gmail.com" >
                <svg class="icon icon--primary icon--big"><use xlink:href="images/sprite-icons.svg#email-icon"></use></svg>
            </a>
            <a href="https://github.com/nebelschwaden" target="_blank">
                <svg class="icon icon--primary icon--big"><use xlink:href="images/sprite-icons.svg#github-icon"></use></svg>
            </a>
        </div>
    </div>
</section>