<section class="block block--primary block--end-arrow">
    <div class="container grid grid--1x2">
       <div class="hero__content ">
           <div class="languages"><a class="label-es"href="#es">ES</a>|<a class="label-en"href="#en">EN</a></div>
           <img class="img--medium img--round" src="images/jpg/profile.jpg" alt="">
           <div class="grid__spread-items">
               <a href="https://www.linkedin.com/in/ronny-jaramillo-5192581b9/" target="_blank" >
               <svg class="icon icon--white icon--big"><use xlink:href="images/sprite-icons.svg#linked-in-icon"></use></svg>
               </a>
               <a href="mailto:ronny.jaramillo935@gmail.com" >
                   <svg class="icon icon--white icon--big"><use xlink:href="images/sprite-icons.svg#email-icon"></use></svg>
               </a>
               <a href="https://github.com/nebelschwaden" target="_blank">
                   <svg class="icon icon--white icon--big"><use xlink:href="images/sprite-icons.svg#github-icon"></use></svg>
               </a>
           </div>
       </div>
       <div class="hero__footer">
           <h2>Ronny Jaramillo</h2>
           <h3>Software Developer</h3>
       </div>  
    </div>
</section>