<svg class="icon">
  <use xlink:href="#bootstrap-icon-svg"></use>
</svg>
<svg class="icon">
  <use xlink:href="#burp-icon-svg"></use>
</svg><svg class="icon">
  <use xlink:href="#cs-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#css-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#cyber-attack-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#cyber-security-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#docker-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#email-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#github-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#git-icon-svg"></use>
</svg><svg class="icon">
  <use xlink:href="#html-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#java-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#js-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#kotlin-icon-svg"></use>
</svg><svg class="icon">
  <use xlink:href="#linked-in-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#linux-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#menu-hamburguer-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#mobile-icon-2"></use>
</svg><svg class="icon">
  <use xlink:href="#nest-icon-svg"></use>
</svg><svg class="icon">
  <use xlink:href="#nodejs-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#python-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#sprite-icons"></use>
</svg><svg class="icon">
  <use xlink:href="#sql-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#video-icon"></use>
</svg><svg class="icon">
  <use xlink:href="#web-icon-2"></use>
</svg><svg class="icon">
  <use xlink:href="#web-security-icon"></use>
</svg>

<span class="icon-container">
  <svg class="icon icon--primary">
    <use xlink:href="images/sprite.svg#web-security-icon"></use>
  </svg>
</span>