<nav class="nav collapsible">
    <a class="nav__brand" href="/">RJ</a>
    <svg class="icon icon--white nav__toggler">
        <use xlink:href="images/sprite.svg#menu-hamburguer-icon"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Acerca de mi</a></li>
        <li class="nav__item"><a href="#">Habilidades</a></li>
        <li class="nav__item"><a href="#">Proyectos</a></li>
        <li class="nav__item"><a href="#">Contacto</a></li>
    </ul>
</nav>
<script src="js/main.js"></script>