<div style="width: 30%;">
    <div class="project">
        <div class="card card--primary-soft">
            <header class="card__header">
                <div class="card__img">
                    <img  src="images/jpg/invoice-system-1.png" alt="">
                    <a href="#" class="btn btn--primary card__btn card__button-left">
                        <svg class="icon icon--white"><use xlink:href="images/sprite-icons.svg#github-icon"></use></svg>Código
                    </a>
                    <button class="btn btn--primary card__btn card__button-right"><svg class="icon icon--white">
                        <use xlink:href="images/sprite-icons.svg#video-icon"></use>
                      </svg>Video</button>
                </div>
                <div class="card__body">
                    <h4>Project Title</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil provident, excepturi, ullam delectus quae vitae vero unde incidunt doloremque minus asperiores! Consectetur adipisci dolores ipsum.</p>
                    <div class="card__badges">
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                        <span class="badge badge--primary">
                            Python
                        </span>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>