<section class="skills container block block--primary block--bordered">
    <h2 class="block__heading">Habilidades</h2>
    <div class="container grid grid--1x4">
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#html-icon"></use>
              </svg>
              <h4>HTML</h4>
              <h5>HTML5</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#css-icon"></use>
              </svg>
              <h4>CSS</h4>
              <h5>CSS3</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#js-icon"></use>
              </svg>
              <h4>JavaScript</h4>
              <h5>ES6 - EJS</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#bootstrap-icon-svg"></use>
              </svg>
              <h4>Boostrap</h4>
              <h5>v4</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#python-icon"></use>
              </svg>
              <h4>Python</h4>
              <h5>Flask - Jinja - Pandas - Numpy</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#java-icon"></use>
              </svg>
              <h4>Java</h4>
              <h5>Android - Desktop</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#cs-icon"></use>
              </svg>
              <h4>C#</h4>
              <h5>Desktop</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#sql-icon"></use>
              </svg>
              <h4>SQL</h4>
              <h5>MySQL - SQL Server - Oracle</h5>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#nest-icon-svg"></use>
              </svg>
              <h4>NestJS</h4>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#nodejs-icon"></use>
              </svg>
              <h4>NodeJS</h4>

        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#git-icon-svg"></use>
              </svg>
              <h4>Git</h4>
        </div>
        <div class="skills--item">
            <svg class="icon icon--big">
                <use xlink:href="images/sprite-icons.svg#docker-icon"></use>
              </svg>
              <h4>Docker</h4>
        </div>
            <div class="skills--item">
                <svg class="icon icon--big">
                    <use xlink:href="images/sprite-icons.svg#kotlin-icon-svg"></use>
                  </svg>
                  <h4>Kotlin</h4>
            </div>
            <div class="skills--item">
                <svg class="icon icon--big">
                    <use xlink:href="images/sprite-icons.svg#linux-icon"></use>
                  </svg>
                  <h4>Linux</h4>
            </div>
            <div class="skills--item">
                <svg class="icon icon--big">
                    <use xlink:href="images/sprite-icons.svg#burp-icon-svg"></use>
                  </svg>
                  <h4>Burp Suite</h4>
            </div>
            <div class="skills--item">
                <svg class="icon icon--big">
                    <use xlink:href="images/sprite-icons.svg#web-security-icon"></use>
                  </svg>
                  <h4>Web App Pentesting</h4>
            </div>
    </div>
</section>